<link href="~/css/Login.css" rel="stylesheet" />

<h4 class="login">Login</h4>
<hr />
<div class="row">
    <div class="col-md-4 center">
        <form>
           



        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/js/login.js"></script>