<link href="~/css/Signup.css" rel="stylesheet" />

<div>
    <h4 class="signup">Signup</h4>
    
    <div class="row">

        <div class="col-md-4 center">
            <form>



            </form>
        </div>

    </div>
</div>

<script src="~/js/signup.js"></script>