@{
    ViewData["Title"] = "Home Page";
}
<br />

<div class="text-center">
    <h1 class="display-4">Hello World !</h1>
</div>
<br />

<hr />

<br />
<br />
<br />

@Html.Partial("_Login")

<br />
<br />
<br />

@Html.Partial("_Signup")
