@{
    ViewData["Title"] = "ArtSpot";
}



@* <span class="material-symbols-outlined">

</span>
<input placeholder="search" />
 *@

@* @Html.Partial("_Login") *@

@Html.Partial("_Login")
@* <br />
<br />
<br />

@Html.Partial("_Signup") *@

